<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/grid.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="vendors/css/animate.css">
        <link rel="stylesheet" type="text/css" href="resources/css/style.css">
        <link rel="stylesheet" type="text/css" href="resources/css/queries.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <title>Happiness</title>

  </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <!-- <

                     src="img relative path goes here" alt="Health logo" class="logo"> -->
                </div>
            </nav>
            <div class="main-text-box">
                <h1>Happy Tracker<br>Where happiness starts</h1>
                <a class="btn btn-full" href="#">Sign Up</a>
                <%= link_to "Sign Up", new_user_path %>
                <a class="btn btn-ghost" href="#">Log In</a>
            </div>

        </header>
