

<div class="container text-center">
  <h1><strong>Select Friend to Add</strong></h1>
</div>


<div class="af-card-container">
    <div class="friendships">
      <div class="friendship-box">
        <% @users.each do |user| %>
          <% if user.name != current_user.name %>
            <% if !Friendship.find_by(friend_id: user.id) %>
              <p><%= link_to "#{user.name.capitalize}", "/friendships/#{user.id}/new", method: :get %></p><br>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
