// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-list  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 50px;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 15px 25px rgba(0,0,0,.2);
  border-radius: 5px;
  h2 {
    color:#fff;
    text-align: center;
  }
  p {
    color:#fff;
    text-align: left;
  }
}
