
<div class="container text-center">
  <h1><strong>Edit Activity</strong></h1>
</div>


<div class="af-card-container">
  <div class="activity-edit">
    <div class="new-input-box">
      <%= render "form" %>
      <br>
      <%= button_to "Delete", @activity, :method => :delete %>
      <br>
      <%= button_to "Cancel", activity_path, {method: :get} %>
    </div>
  </div>
</div>
