
<div class="container text-center">
  <h1><strong>Add Activity to Database</strong></h1>
</div>


<div class="af-card-container">
  <div class="activity-new">
    <div class="new-input-box">
      <%= render "form" %>
    </div>
  </div>
</div>
